.Wrapper {
  width: 5rem;
  height: 3.2rem;
  border-radius: 2rem;
  border: 1px solid var(--, #8c51d7);
  background: var(--, #fff);
  p {
    width: 2.6rem;
    color: var(--, #3f3f3f);
    text-align: center;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
