.footerWrapper {
  display: flex;
  justify-content: space-around;
  .home {
    text-align: center;
    line-height: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background: var(
      --icon,
      radial-gradient(
        50% 50% at 50% 50%,
        #8c51d7 0%,
        rgba(140, 81, 215, 0) 100%
      )
    );
    .fontIcon {
      font-size: 2rem;
    }
  }
  .save {
    text-align: center;
    line-height: 5rem;

    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background: var(
      --icon,
      radial-gradient(
        50% 50% at 50% 50%,
        #8c51d7 0%,
        rgba(140, 81, 215, 0) 100%
      )
    );
    .fontIcon {
      font-size: 2rem;
    }
  }
  .post {
    text-align: center;
    line-height: 5rem;

    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background: var(
      --icon,
      radial-gradient(
        50% 50% at 50% 50%,
        #8c51d7 0%,
        rgba(140, 81, 215, 0) 100%
      )
    );
    .fontIcon {
      font-size: 2rem;
    }
  }
  .profile {
    text-align: center;
    line-height: 5rem;

    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background: var(
      --icon,
      radial-gradient(
        50% 50% at 50% 50%,
        #8c51d7 0%,
        rgba(140, 81, 215, 0) 100%
      )
    );
    .fontIcon {
      font-size: 2rem;
    }
  }
}
