.Btn {
  width: 5rem;
  height: 3.2rem;
  border-radius: 2rem;
  background: #8c51d7;
  p {
    width: 2.6rem;
    color: var(--text-color, #3f3f3f);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
  }
}
