.research {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  position: absolute;
  .researchIcon {
    font-size: 1.8rem;
    top: 8.1rem;
    right: 3rem;
    // color: #f3f1ff;
  }
}
